# Sistema operativo
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor
*.swp
*.swo
*~

# Logs
*.log

# Archivos temporales
.tmp/
temp/

# Configuraciones locales
*.local
local/

# Secretos
*.key
*.pem
secrets/

# Kubernetes
kubectl/.kube/config
kubectl/.kube/cache/

# Atuin - datos de historial y sesión
atuin/data/
*.db
*.db-shm
*.db-wal
